# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# YOLO model weights (besar, bisa diunduh ulang)
*.pt

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# Logs
runs/

# File berukuran besar
*.mp4
